<div id="<%= dom_id payment_link %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Paymentplatform:</strong>
    <%= payment_link.payment_platform.name %>


  </div>
  <div>
    <strong class="block font-medium mb-1">Payid:</strong>
    <%= payment_link.payid %>
  </div>
</div>
